.weather__tabs {
	flex: 0 0 50%;
	display: flex;
	flex-direction: column;
	border-right: 2px solid black;

}

.weather__tab {
	padding: 10px;
	flex: 1 1 auto;
	overflow: auto;
	scrollbar-width: none;
}
.weather__tab::-webkit-scrollbar {
		display: none;
	}

.weather__tab-buttons {
	min-height: 45px;
	border-top: 2px solid black;
	display: flex;
}

.weather__tab-buttons button{
	flex: 1 0 33.3%;
	background-color: white;
	color: #000;
}

.weather__tab-buttons button:nth-child(2) {
	border-left: 2px solid black;
	border-right: 2px solid black;
}